*{  
    padding: 0;  
    margin: 0;  
    box-sizing: border-box;  
}  
body{  
    width: 100%;  
    height: 100vh;  
    background-color: #c3c0fd;  
    position: relative;  
    font-family: 'Noto Sans SC', sans-serif;  
}  
img { 
    max-width: 100%; height: auto;
    margin-top: 1%;
    margin-left: 1%; 
}
header{ 
    overflow: hidden;
    position: fixed; 
    top: 0%;
    width: 100%;  
    height: 80px;  
    background-color: white;  
}  
table{  
    width: 75%;  
    
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;  
      
      
}  
.heading{  
    background-color: #FFFF;  
}  
.heading th{  
    padding: 10px 0;  
}  
.data{  
    text-align: center;  
    color: black;  
}  
.data td{  
    padding: 15px 0;  
}  
#btn1{  
    text-decoration: none;  
    color: black;  
    background-color: #e74c3c;  
    padding: 5px 20px;  
    border-radius: 3px;  
}  
#btn1:hover{  
    background-color: red;  
} 

#btn2{  
    text-decoration: none;  
    color: black;  
    background-color: rgb(60, 173, 60);  
    padding: 5px 20px;  
    border-radius: 3px;
    position: absolute;
    margin-top: 0%;
    
         
}

#btn2:hover{  
    background-color: green;  
}

#btn3{  
    text-decoration: none;  
    color: black;  
    background-color: rgb(75, 75, 233);  
    padding: 5px 20px;  
    border-radius: 3px;  
}  
#btn3:hover{  
    background-color: blue;  
}


/* Footer */

.Logo{
    text-align:center;
    padding: 20px 0;


}


.social_icons{
    display:flex;
    text-decoration:none;
    justify-content:center;
    padding: 20px 0;

}

.footer{
    width:100%;
    height:auto;
    display:block;
    align-items:center;
    justify-content:center;
    background-color:#54509E;
    position:absolute;
    width: 100%;
    left:0;
    bottom: 0%;
    
    

}

.footer-menu{
    width:100%;
    height:10vh;
    display:flex;
    text-align:center;
    justify-content:center;

}

.footer-menu ul{
    display:flex;
    align-items:center;
    text-align:center;
    list-style-type:none;
    font-family:'Noto Sans SC', sans-serif;

}

.footer-menu ul li{
    padding:0px 40px;
    font-family:'Noto Sans SC', sans-serif;
    color:white;
    border-right:2px solid white;

}

.footer-menu ul li:nth-last-child(1) {
    border: none;

}

.footer-menu ul li a{
    font-size:1rem;
    font-weight:600;
    text-decoration:none;
    font-family:'Noto Sans SC', sans-serif;
    color:solid black;

}

#copyright{
    text-align:center;
    font-family:'Noto Sans SC', sans-serif;
    font-size:12px;
    font-weight:600;
    align-items:center;
    background-color:#54509E;
    justify-content:center;

}